<div class="mb-5">
    <div class="relative">
        <input 
            [formControl]="control" 
            type="{{ type }}" 
            id="{{label}}"
            [attr.autocomplete]="type === 'email' ? 'email' : (type === 'password' ? 'current-password' : 'off')"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 appearance-none focus:outline-none focus:ring-0 peer"
            [ngClass]="{ 'border-red-600 focus:border-red-600': control.invalid && (control.touched || control.dirty) }" 
            placeholder=" " />
        <label 
            for="{{label}}" 
            [ngClass]="{'text-red-600 peer-focus:text-red-600': control.invalid && (control.touched || control.dirty)}"
            [ngStyle]="{ 'background-color': backgroundColor }"
            class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] px-2 peer-focus:text-blue-600 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
            {{label}}
        </label>
    </div>

    @if (control.touched || control.dirty)
    {
        @if (control.hasError('required')) {
            <p class="mt-1 text-xs text-red-600 font-medium">{{ label }} is required</p>
        }
        @if (control.hasError('email')) {
            <p class="mt-1 text-xs text-red-600 font-medium">Email is invalid</p>
        }
        @if (control.hasError('minlength')) {
            <p class="mt-1 text-xs text-red-600 font-medium">
                {{ label }} must be at least {{ control.getError('minlength').requiredLength }} characters
            </p>
        }
        @if (control.hasError('pattern')) {
            <p class="mt-1 text-xs text-red-600 font-medium">
                {{ label }} is invalid, need at least one numeric character
            </p>
        }
    }

</div>