<div class="h-1">
    @if (busyService.loading) {
        <mat-progress-bar mode="indeterminate" class="z-51"></mat-progress-bar>
    }
</div>

<header>
    
    <input type="checkbox" id="menu-toggle" class="hidden peer" />
    <div class="container xs:max-w-screen-2xl mx-auto flex items-center justify-between p-2 px-4 sm:px-6 md:px-8 lg:px-6 xl:px-2 ">
        <div class="flex items-center gap-10">
            <div routerLink="/" class="flex items-center gap-2 cursor-pointer">
                <img src="assets/decoration/logo.ico" alt="logo" class="w-10 h-10" />
                <a class="text-2xl font-semibold text-gray-800">ScriptedSky</a>
            </div>

            <nav class="hidden md:flex gap-10">
                <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" 
                    class="desktop-nav-item">Home</a>
                <a routerLink="/shop" routerLinkActive="active"
                    class="desktop-nav-item">Books</a>
                <a class="desktop-nav-item">Contacts</a>
            </nav>

        </div>

        <div class="flex items-center gap-2">

            <div class="relative inline-block text-left">
                <a id="userButton" class="hidden md:flex cursor-pointer" (click)="toggleMenu()">
                    <svg class="icon-hover" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                        <path
                            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z" />
                    </svg>
                </a>
            
                @if (isMenuOpen)
                {
                    <div id="userDropdown"
                        class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50">
                    
                        <div class="py-1">
                            <p class="block px-4 py-2 text-sm text-gray-700">👋 Welcome, {{accountService.currentUser()?.firstName}}</p>
                    
                            <a class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer"
                                routerLink="/account/user-profile">
                                <svg class="w-6 h-6 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Profile
                            </a>
                    
                            <a (click)="logout()"
                                class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
                                <svg class="w-6 h-6 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2" />
                                </svg>
                                Logout
                            </a>
                        </div>
                    </div>
                }
                
            </div>


            <div class="hidden md:flex divider"></div>

            <a routerLink="/cart" 
                matBadge="{{ cartService.itemCount() }}" 
                matBadgeSize="medium" 
                class="custom-badge cursor-pointer">
                <svg class="icon-hover" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"> <path d="M240-80q-33 0-56.5-23.5T160-160v-480q0-33 23.5-56.5T240-720h80q0-66 47-113t113-47q66 0 113 47t47 113h80q33 0 56.5 23.5T800-640v480q0 33-23.5 56.5T720-80H240Zm0-80h480v-480h-80v80q0 17-11.5 28.5T600-520q-17 0-28.5-11.5T560-560v-80H400v80q0 17-11.5 28.5T360-520q-17 0-28.5-11.5T320-560v-80h-80v480Zm160-560h160q0-33-23.5-56.5T480-800q-33 0-56.5 23.5T400-720ZM240-160v-480 480Z" /></svg>
            </a>

            <div class="md:hidden divider"></div>
            <label for="menu-toggle" class="md:hidden cursor-pointer">
                <svg class="icon-hover" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg>
            </label>
        </div>
    </div>

    <div class="fixed top-0 left-0 h-full w-64 bg-[#f6f6fc] shadow-lg -translate-x-full peer-checked:translate-x-0 transition-transform duration-300 z-50 p-6 flex flex-col gap-4">

        <div class="flex items-center justify-between">
            <div routerLink="/"class="flex items-center gap-2 cursor-pointer">
                <img src="assets/decoration/logo.ico" alt="logo" class="w-8 h-8" />
                <a class="text-xl font-semibold text-gray-800">ScriptedSky</a>
            </div>
            <label for="menu-toggle" class="cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </label>
        </div>
        <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="mobile-nav-item">Home</a>
        <a routerLink="/shop" routerLinkActive="active" class="mobile-nav-item">Books</a>
        <a class="mobile-nav-item">Contacts</a>

        <div class="mt-auto">

            @if (accountService.currentUser()) {
                <div class="pt-4 border-t border-gray-300">
                    <div class="flex items-center gap-2">
                        <img routerLink="/account/user-profile" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/helene-engels.png" alt="User avatar"
                            class="w-10 h-10 rounded-full" />
                        <div>
                            <p routerLink="/account/user-profile" class="text-base font-semibold text-gray-800">{{accountService.currentUser()?.firstName}}</p>
                            <a class="text-base text-blue-600 hover:underline cursor-pointer" (click)="logout()">Log out</a>
                        </div>
                    </div>
                </div>
            }
            @else {
                <div class="pt-4 border-t border-gray-300 flex gap-3">
                
                    <button routerLink="account/login"
                        class="w-full py-2 px-4 text-sm text-white bg-blue-600 rounded hover:bg-blue-700">Login</button>
                    <button routerLink="account/register"
                        class="w-full py-2 px-4 text-sm text-blue-600 border border-blue-600 rounded hover:bg-blue-50">Register</button>
                </div>
            }
            
        </div>
        

    </div>

    <label for="menu-toggle" class="hidden peer-checked:block fixed inset-0 bg-black/40 z-40 cursor-pointer"></label>
    
</header>