@if (busyService.loading && order == null || order == null)
{
  <div class="bg-white z-50 flex items-center justify-center w-screen h-[80hv] overflow-hidden">
    <img src="assets/loading/bookLoading.gif"
        alt="Loading..."
        class="w-[800px] max-w-none h-auto object-none" />
  </div>
}

@if (order) {
  <div class="min-h-[70vh] flex flex-col">
    <div class="container xs:max-w-screen-2xl mx-auto bg-white shadow rounded-xl p-6 mb-3">

      <div class="overflow-hidden rounded mb-6 h-[15vh]">
        <img src="/assets/decoration/2303.w026.n002.3343B.p1.3343.jpg" alt="best picture ever, with books" class="w-full h-full object-cover">
      </div>

      <div class="border-b border-gray-300 product-info mb-3">

        <!-- Order ID and Order Status Section -->
        <div>
          <div class="all-product-subtitle text-2xl font-semibold">
            Order #{{ order.id }}
          </div>

          <dl class="flex items-center mb-4">
            <dt class="text-2xl font-semibold me-2">Status:</dt>
            <dd [ngClass]="{
                          'bg-yellow-100 text-yellow-800': order.status === 'Pending',
                          'bg-blue-100 text-blue-800': order.status === 'Confirmed',
                          'bg-green-100 text-green-800': order.status === 'Done',
                          'bg-red-100 text-red-800': order.status === 'Cancelled'
                        }" class="inline-flex items-center rounded px-2.5 py-0.5 text-md font-medium">
              <ng-container [ngSwitch]="order.status">
                <svg *ngSwitchCase="'Pending'" class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg *ngSwitchCase="'Confirmed'" class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
                <svg *ngSwitchCase="'Done'" class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2l4-4M12 22a10 10 0 100-20 10 10 0 000 20z" />
                </svg>
                <svg *ngSwitchCase="'Cancelled'" class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </ng-container>
              {{ order.status }}
            </dd>
          </dl>
        </div>

        <!-- Three Cols Grid -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-md mb-4">
          <!-- Basic Information -->
          <div class="md:pr-4 md:border-r md:border-gray-300">
            <h3 class="font-semibold mb-2 text-lg border-b border-gray-300">Basic Information</h3>
            <div class="space-y-1">
              <div class="flex justify-between">
                <span class="font-medium">Name:</span>
                <span class="text-right">{{ order.contactName }}</span>
              </div>
              <div class="flex justify-between">
                <span class="font-medium">Email:</span>
                <span class="text-right">{{ order.contactEmail }}</span>
              </div>
              <div class="flex justify-between">
                <span class="font-medium">Date:</span>
                <span class="text-right">{{ order.createdAt | date:'dd.MM.yyyy' }}</span>
              </div>
            </div>
          </div>

          <!-- Delivery -->
          <div class="md:pr-4 md:border-r md:border-gray-300">
            <h3 class="font-semibold mb-2 text-lg border-b border-gray-300">Delivery</h3>
            <div class="space-y-1">
              <div class="flex justify-between">
                <span class="font-medium">Delivery Type:</span>
                <span class="text-right">{{ order.deliveryMethod.shortName }}</span>
              </div>
              <div class="flex justify-between">
                <span class="font-medium">Delivery Time:</span>
                <span class="text-right">{{ order.deliveryMethod.deliveryTime }}</span>
              </div>
              <div class="flex justify-between">
                <span class="font-medium">Address:</span>
                <span class="text-right">{{ order.adress }}</span>
              </div>
            </div>
          </div>

          <!-- Order Total -->
          <div>
            <h3 class="font-semibold mb-2 text-lg border-b border-gray-300">Order Total</h3>
            <div class="space-y-1">
              <div class="flex justify-between">
                <span class="font-medium">Items:</span>
                <span class="text-right">{{ order.subtotal - order.deliveryMethod.price }}₴</span>
              </div>
              <div class="flex justify-between">
                <span class="font-medium">Shipping:</span>
                <span class="text-right">{{ order.deliveryMethod.price }}₴</span>
              </div>
              <div class="flex justify-between">
                <span class="font-medium text-lg">Total:</span>
                <span class="text-right font-bold text-lg">{{ order.subtotal }}₴</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="order-items">
        <div class="all-product-subtitle text-2xl font-semibold">
          Order Items
        </div>
      </div>

    </div>
  </div>
}