@if (book) {
  <article
    class="bg-white rounded-xl shadow-md hover:shadow-xl transition-transform duration-300 hover:scale-95 overflow-hidden flex flex-col">
    
    <!-- Picture с aspect ratio -->
    <div class="relative w-full aspect-[3/4] overflow-hidden">
      <img routerLink="/shop/{{book.id}}"
           src="{{book.pictureURL}}"
           alt="{{book.title}}"
           class="w-full h-full object-contain cursor-pointer" />
    </div>

    <!-- Cart Content -->
    <div class="p-4 flex flex-col flex-grow">
      <!-- Author -->
      <span class="text-gray-400 text-xs uppercase mb-1 truncate">{{book.authorNames}}</span>

      <!-- Title -->
      <p routerLink="/shop/{{book.id}}"
         class="text-base font-semibold text-black truncate mb-2 cursor-pointer hover:text-title duration-200">
        {{book.title}}
      </p>

      <!-- Price and shopping cart -->
      <div class="flex items-center mt-auto">
        <p class="all-product-subtitle text-lg font-bold text-black">{{book.price}}₴</p>
        <button class="ml-auto">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="cursor-pointer fill-black hover:fill-primary duration-200">
            <path
              d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z" />
          </svg>
        </button>
      </div>
    </div>
  </article>
}
