@if (busyService.loading && orders == null || orders == null) {
    <app-loading-admin></app-loading-admin>
}

@if(orders) {
    @if (busyService.loading && loadingOrders.size === 0) {
        <app-loading-admin></app-loading-admin>
    }
    @else {
        <div class="overflow-x-auto shadow-md rounded-lg border border-gray-200">
            <table class="min-w-full border-collapse table-auto">

                <!-- Header -->
                <thead class="bg-gray-100 text-sm font-medium text-gray-600 uppercase">
                <tr>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                            </svg>
                            Id
                        </div>
                    </th>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                            </svg>
                            Created At
                        </div>
                    </th>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                            </svg>
                            Updated At
                        </div>
                    </th>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
                            </svg>
                            Contact Email                            
                        </div>

                    </th>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 9h3m-3 3h3m-3 3h3m-6 1c-.306-.613-.933-1-1.618-1H7.618c-.685 0-1.312.387-1.618 1M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm7 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                            </svg>
                            Contact Name                            
                        </div>

                    </th>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16v-5.5A3.5 3.5 0 0 0 7.5 7m3.5 9H4v-5.5A3.5 3.5 0 0 1 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"/>
                            </svg>
                            Delivery Method
                        </div>
                    </th>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8H5m12 0a1 1 0 0 1 1 1v2.6M17 8l-4-4M5 8a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.6M5 8l4-4 4 4m6 4h-4a2 2 0 1 0 0 4h4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1Z"/>
                            </svg>
                            Subtotal
                        </div>
                        
                    </th>
                    <th class="px-4 py-3">
                        <div class="flex items-center gap-0.5">
                            <svg class="w-5 h-5 text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.583 8.445h.01M10.86 19.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 12.31 4l5.734.007A1.968 1.968 0 0 1 20 5.983v5.5a.992.992 0 0 1-.316.727l-7.44 7.5a.974.974 0 0 1-1.384.001Z"/>
                            </svg>
                            Status
                        </div>
                    </th>
                </tr>
                </thead>

                <!-- Rows -->
                <tbody class="text-sm divide-y divide-gray-200">
                @for (order of orders.data; track order.id) {
                    <tr class="bg-white hover:bg-gray-50 transition-colors">
                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">{{order.id}}</td>
                    <td class="px-4 py-3 whitespace-nowrap">{{order.createdAt | date:'dd.MM.yyyy'}}</td>
                    <td class="px-4 py-3 whitespace-nowrap">{{order.updatedAt| date:'dd.MM.yyyy'}}</td>
                    <td class="px-4 py-3 break-words">{{order.contactEmail}}</td>
                    <td class="px-4 py-3 break-words">{{order.contactName}}</td>
                    <td class="px-4 py-3">{{order.deliveryMethod.shortName}}</td>
                    <td class="px-4 py-3 whitespace-nowrap">{{order.subtotal}} ₴</td>
                    
                    <!-- Status -->
                    <td class="px-4 py-3">
                        <div class="inline-flex items-center rounded-md px-2.5 py-0.5 text-sm font-medium"
                        [ngClass]="{
                            'bg-yellow-100 text-yellow-800': order.status === 'Pending' && !loadingOrders.has(order.id),
                            'bg-blue-100 text-blue-800': order.status === 'Confirmed' && !loadingOrders.has(order.id),
                            'bg-green-100 text-green-800': order.status === 'Done' && !loadingOrders.has(order.id),
                            'bg-red-100 text-red-800': order.status === 'Cancelled' && !loadingOrders.has(order.id),
                            'bg-gray-100 text-gray-800': loadingOrders.has(order.id)
                        }">

                        @if (!loadingOrders.has(order.id)) {
                            @switch (order.status) {
                            @case ('Pending') {
                                <svg class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            }
                            @case ('Confirmed') {
                                <svg class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                </svg>
                            }
                            @case ('Done') {
                                <svg class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 12l2 2l4-4M12 22a10 10 0 100-20 10 10 0 000 20z" />
                                </svg>
                            }
                            @case ('Cancelled') {
                                <svg class="me-1 h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            }
                            @default {
                                <span>Unknown</span>
                            }
                            }
                            {{ order.status }}
                        }
                        @else {
                            <div role="status" class="flex items-center gap-2">
                            <svg aria-hidden="true" class="me-1 w-3 h-3 text-gray-200 animate-spin fill-blue-600"
                                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 
                                100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 
                                50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 
                                35.9116 97.0079 33.5539..." fill="currentFill"/>
                            </svg>
                            Loading...
                            </div>
                        }
                        </div>
                    </td>

                    <!-- Actions -->
                    <td class="px-4 py-3 text-right">
                        <app-dropdown [options]="getDropDownOptions(order)" label="Actions"></app-dropdown>
                    </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>


        <!-- Pagination -->
        <div class="flex justify-center mt-4">
            <mat-paginator (page)="handlePageEvent($event)" 
                           [length]="orders.count" 
                           [pageSize]="paginationParams.PageSize"
                           [showFirstLastButtons]="true" 
                           [pageIndex]="paginationParams.PageNumber - 1"
                           aria-label="Select page"
                           hidePageSize="true">
            </mat-paginator>
        </div>
    }
}
