@use '@angular/material' as mat;

:root {
  --secondary-color: #01001a;
  --primary-color: #0160ff;
  --white-color: white;
  --title-color: #1b3764;
  --main-bg: rgba(240,245,249,255);

  --mat-paginator-container-text-font: 'Jost', sans-serif;

  @include mat.paginator-overrides((
    container-background-color: transparent,
  ));

}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  background-color: var(--main-bg)
}

.all-product-subtitle {
  background-image: url(https://assets-global.website-files.com/64b8bca09e0474df27fcc6a9/64c209a9257a06c3e24fadc7_latestblogshape.png);
  background-position: 50% 58%;
  background-repeat: no-repeat;
  padding-bottom: 16px;
  display: inline-block;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

