@import "tailwindcss";

@theme {
  --breakpoint-xs: 340px;
  --breakpoint-pm: 410px;

  --color-primary: #0160ff;
  --color-secondary: #01001a;
  --color-white: #ffffff;
  --color-title: #1b3764;
  --color-card-body: #f4f8ff;
  --color-primary-hover: #6c9df3;
  --color-main-bg: rgba(240,245,249,255);

  --animate-slide-in-right: slideInRight 0.7s ease-out forwards;
  --animate-slide-in-left: slideInLeft 0.7s ease-out forwards;
  --animate-slide-in-up: slideInUp 0.7s ease-out forwards;

  @keyframes slideInRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  @keyframes slideInLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  @keyframes slideInUp {
    0% { opacity: 0; transform: translateY(50px);}
    100% { opacity: 1; transform: translateY(0);}
  }

}
