@if (order) {
    <div class="container xs:max-w-screen-2xl mx-auto border-t border-gray-300 py-6 px-4 sm:px-6 md:px-8 lg:px-6 xl:px-2 min-h-[70vh]">
        <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl mb-2">Thanks for your order!</h2>
        <p class="text-gray-500 mb-4 md:mb-4">
            Your order <a href="#" class="font-medium text-gray-900 hover:underline">#{{order.id}}</a> will be processed within
            24
            hours during working days. We will notify you by email once your order has been shipped.
        </p>

        <div class="space-y-4 sm:space-y-2 border border-gray-100 mb-4 md:mb-4 rounded-lg bg-white p-6 shadow-sm">
            <dl class="sm:flex items-center justify-between gap-4">
                <dt class="font-normal mb-1 sm:mb-0 text-gray-500">Date</dt>
                <dd class="font-medium text-gray-900 sm:text-end">{{ order.createdAt | date:'dd.MM.yyyy' }}</dd>
            </dl>
            <dl class="sm:flex items-center justify-between gap-4">
                <dt class="font-normal mb-1 sm:mb-0 text-gray-500">Contact Name</dt>
                <dd class="font-medium text-gray-900 sm:text-end">{{order.contactName}}</dd>
            </dl>
            <dl class="sm:flex items-center justify-between gap-4">
                <dt class="font-normal mb-1 sm:mb-0 text-gray-500">Contact Email</dt>
                <dd class="font-medium text-gray-900 sm:text-end">{{order.contactEmail}}</dd>
            </dl>
            <dl class="sm:flex items-center justify-between gap-4">
                <dt class="font-normal mb-1 sm:mb-0 text-gray-500">Delivery Method</dt>
                <dd class="font-medium text-gray-900 sm:text-end">{{order.deliveryMethod.shortName}}</dd>
            </dl>
            <dl class="sm:flex items-center justify-between gap-4">
                <dt class="font-normal mb-1 sm:mb-0 text-gray-500">Address</dt>
                <dd class="font-medium text-gray-900 sm:text-end">{{order.adress}}</dd>
            </dl>
            <dl class="sm:flex items-center justify-between gap-4">
                <dt class="font-normal mb-1 sm:mb-0 text-gray-500">Total</dt>
                <dd class="font-medium text-gray-900 sm:text-end">{{order.subtotal}}₴</dd>
            </dl>
        </div>

        <div class="flex items-center space-x-4">
            <a routerLink="/shop"
                class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-200 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100">
                Continue shopping
            </a>
        </div>
    </div>

}